body {
    background-color: rgb(216, 240, 250);
}

#append div {
    margin-top: 10px;
}

.data-all li {
    margin: 10px;
    list-style-type: none;
}

#table-body tr {
    margin-top: 10px;
}

#info-ts {
    color: rgb(110, 2, 2);
}

.test {
    width: 10px;
    height: 10px;
    background-color: red;
}