<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Timesheet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=" {% url 'dashboard' %} ">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timesheet">My Timesheet</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create</a>
          </li>
      </ul>
      
    </div>
    <span> <a name="" id="" class="btn btn-info" href="#" role="button">Hello, {{request.user}} </a> </span>
    <span> <a name="" id="" class="btn btn-danger" href=" {% url 'logout' %} " role="button">Logout</a> </span>
  </nav>