<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Timesheet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=" {% url 'dashboard' %} ">Dashboard </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Timesheet
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'report'%}">Submit Timesheet</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'viewTS' %}">Approve Timesheets</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'department' %}">Assign to Dept.</a>
            <a class="dropdown-item" href="{% url 'selectEmployee' %}">Select Employees</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">View Projects</a>
          </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create</a>
          </li>
      </ul>
      
    </div>
    <span> <a name="" id="" class="btn btn-info" href="#" role="button">Hello, {{request.user}} </a> </span>
    <span> <a name="" id="" class="btn btn-danger" href=" {% url 'logout' %} " role="button">Logout</a> </span>
  </nav>