{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/_navbar.html' %}

<div class="data-all">
    <div class="row">
        <div class="col-lg-3">
            <div class="create-all">
                <ul>
                    <li><a name="" id="" class="btn btn-primary" href=" {% url 'create_employee' %} " role="button">Create Employee</a></li>
                    <li><a name="" id="" class="btn btn-primary" href="{% url 'new_project' %}" role="button">Create Project</a></li>
                    <li><a name="" id="" class="btn btn-primary" href="{% url 'department' %}" role="button">Assign Project to Department</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="view-all">
                <ul>
                    <li><a name="" id="" class="btn btn-info" href=" {% url 'view_employees' %} " role="button">View Employees</a></li>
                    <li><a name="" id="" class="btn btn-info" href="#" role="button">View Projects</a></li>
                    <li><a name="" id="" class="btn btn-info" href="#" role="button">View Department wise Projects</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}