{% extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<!-- {% include 'accounts/_clock.html' %} -->

<br>

<div class="row">
	<div class="col-md-5">
        <h5>All Tasks</h5>
        <p> </p>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">View All</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Task</th>
                    <th>Date Created:</th>
					<th>Due Date:</th>
					<th>Assigned to:</th>
				</tr>
				{% for i in tasks %}
					<tr>
						<th></th>
							<th>{{i.name}}</th>
							<th>{{i.date_created}}</th>
							<th>{{i.due_date}}</th>
							{% for j in assigned_to %}
								<th>{{j.assigned_to.name}}</th>
							{% endfor %}
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Tasks Today:</h5> <p id="date"></p>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">View by Date</a>
			<table class="table table-sm">
				<tr>
					<th>Task</th>
					<th>Date Created</th>
					<th>Status</th>
					<th>Update</th>
					<th>Due Date:</th>
				</tr>
		
			</table>
		</div>
	</div>

</div>

<script>
    n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
</script>


{% endblock %}