{% extends 'accounts/main.html' %}

{% block content %}
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card text-white bg-danger mb-3">
                            <div class="card-header">
                                <div class="float-left" style="font-size: 2.4em">
                                    5
                                </div>
                                <div class="float-right" style="font-size: 1.8em">
                                    My Timesheets
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 col-sm-12">
                                        <div class="data text-dark rounded text-center mx-auto p-2" style="background-color: rgba(255,255,255,0.8)">
                                            <h6>
                                                Overdue
                                            </h6>
                                            <h5>
                                                8
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                                        <div class="data text-dark rounded text-center mx-auto p-2" style="background-color: rgba(255,255,255, 0.8)">
                                            <h6>
                                                Submitted
                                            </h6>
                                            <h5>
                                                8
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="" class="float-right text-white">
                                        View All
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-info mb-3">
                            <div class="card-header">
                                <div class="float-left" style="font-size: 2.4em">
                                    5
                                </div>
                                <div class="float-right" style="font-size: 1.8em">
                                    My Team
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 col-sm-12">
                                        <div class="data text-dark rounded text-center mx-auto p-2" style="background-color: rgba(255,255,255,0.8)">
                                            <h6>
                                                Approvals
                                            </h6>
                                            <h5>
                                                8
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                                        <div class="data text-dark rounded text-center mx-auto p-2" style="background-color: rgba(255,255,255, 0.8)">
                                            <h6>
                                                Defaulter
                                            </h6>
                                            <h5>
                                                8
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="" class="float-right text-white">
                                        View All
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>


{% endblock %}