{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% include 'accounts/_navbar.html' %}

<img src="{% static '/images/Infinity-1.3s-200px.gif' %}" id="loader" class="center" alt="">

<div class="project-info m-4 text-center">
    <div class="card-deck">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Project ID</div>
            <div class="card-body">
                <h5 class="card-title" id="project_id">{{ project.project_id }}</h5>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Project Name</div>
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Client</div>
            <div class="card-body">
                <h5 class="card-title">{{ project.project_client }}</h5>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Controlled Manhours</div>
            <div class="card-body">
                <h5 class="card-title">{{ project.controlled_manhours }}</h5>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Project Manager</div>
            <div class="card-body">
                <h5 class="card-title">{{ project.project_manager.name }}</h5>
            </div>
        </div>
        {% if project.active and project.finished == False %}
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Status</div>
                <div class="card-body">
                    <h5 class="card-title">Ongoing</h5>
                </div>
            </div>
        {% elif project.active == False and project.finished == True %}
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Status</div>
                <div class="card-body">
                    <h5 class="card-title">Complete</h5>
                </div>
            </div>
        {% else %}
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Status</div>
                <div class="card-body">
                    <h5 class="card-title">On Hold</h5>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <h3>Department Wise Time Distribution:</h3>
            <canvas id="department_bar" width="500" height="400"></canvas>
        </div>
        <div class="col-sm-5">
            <h3>Activity Wise Time Distribution:</h3>
            <canvas id="activity_pie" width="250" height="200"></canvas>
        </div>
    </div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="{% static '/js/project_charts.js' %}"></script>
<script> 
        document.onreadystatechange = function() { 
            if (document.readyState !== "complete") { 
                document.querySelector( 
                  "body").style.visibility = "hidden"; 
                document.querySelector( 
                  "#loader").style.visibility = "visible"; 
            } else { 
                document.querySelector( 
                  "#loader").style.display = "none"; 
                document.querySelector( 
                  "body").style.visibility = "visible"; 
            } 
        }; 
</script>

{% endblock %}