{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% include 'accounts/_navbar.html' %}

<div class="container">

    <div id="select-employees-btns" class="text-center m-2">
        <a href='#' class="btn btn-info" id='select-all'>select all</a>
        <a href='#' class="btn btn-info" id='deselect-all'>deselect all</a>
    </div>
    
    <div id="select-employees" class="text-center">
        <form action="" method="POST" class="ml-auto">
            {% csrf_token %}
            <select id='public-methods' multiple='multiple' name='employee'>
                {% for employee in employees %}
                    <option value='{{ employee.employee_id}}' name='{{ employee.employee_id}}'> {{ employee.employee_id}} - {{ employee.name}} </option>
                {% endfor %}
                {% for as in assigned_employees %}
                    <option value='{{ as.employee_id}}'name='{{ as.employee_id}}' selected>{{ as.employee_id}} - {{ as.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary m-3">Submit</button>
        </form>
    </div>
    
</div>




<script src="{% static '/js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script> 
        $('#public-methods').multiSelect();
        $('#select-all').click(function(){
            $('#public-methods').multiSelect('select_all');
                return false;
        });
        $('#deselect-all').click(function(){
            $('#public-methods').multiSelect('deselect_all');
                return false;
        });
        $('form div').addClass('mx-auto m-3')
        
</script>
{% endblock %}