{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}

{%  include 'accounts/status.html' %}

<h3>Welcome: {{employee.name}}  </h3>

<h3>Department: {{employee.department_name}} </h3>

<button type="button" id="create" class="btn btn-primary">Add Field</button>

<div class="row">
    <div class="col-md-5 text-center">
        Your Project Details Here:
    </div>
    <div class="col-md-7 text-center">
        Your Week Here: <strong><p id="week"></p></strong>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Select Project</strong>
    </div>
    <div class="col-md-3">
        Input your activity here:
    </div>
    <!-- <div class="week-dates"> -->
        <div class="col-md-1" id="saturday">

        </div>
        <div class="col-md-1" id="sunday">

        </div>
        <div class="col-md-1" id="monday">

        </div>
        <div class="col-md-1" id="tuesday">

        </div>
        <div class="col-md-1" id="wednesday">

        </div>
        <div class="col-md-1" id="thursday">

        </div>
        <div class="col-md-1" id="friday">

        </div>
        
    <!-- </div> -->
</div>

<div class="input-area" id="input-area">
    <div class="form-group" id = "append">
        <div class="row" id="input0">
            <div class="col-md-2">
                <!-- <label for="sel1"></label> -->
                <select class="form-control" id="sel1">
                {% for project in projects %}
                <option value=" {{project.project_assigned}} ">{{project.project_assigned}} - {{project.name}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Activity">
            </div>
            <div class="col-md-1" id="saturday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
            <div class="col-md-1" id="sunday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
            <div class="col-md-1" id="monday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
            <div class="col-md-1" id="tuesday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
            <div class="col-md-1" id="wednesday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
            <div class="col-md-1" id="thursday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
            <div class="col-md-1" id="friday-input">
                <input class="form-control" type="text" placeholder="Hours">
            </div>
        </div>
    </div>
</div>


<script src="{% static '/js/weeks.js' %}"></script>
<script src="{% static '/js/new_field.js' %}"></script>

{% endblock %}