{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}

{%  include 'accounts/status.html' %}

<h3>Welcome: {{employee.name}}  </h3>

<h3>Department: {{employee.department_name}} </h3>

<button type="button" id="create" class="btn btn-primary">Add Field</button>

<div class="row">
    <div class="col-md-5 text-center">
        Your Project Details Here:
    </div>
    <div class="col-md-7 text-center">
        Your Week Here: <strong><p id="week"></p></strong>
    </div>
</div>




<div class="container-fluid all-input">
    <table class="input-table">
        <thead>
          <tr class="d-flex">
            <th>DEL </th>
            <th scope="col" class="col-2">Select Project</th>
            <th scope="col" class="col-3">Activity</th>
            <th scope="col" id="saturday" class="col-1"></th>
            <th scope="col" id="sunday" class="col-1"></th>
            <th scope="col" id="monday" class="col-1"></th>
            <th scope="col" id="tuesday" class="col-1"></th>
            <th scope="col" id="wednesday" class="col-1"></th>
            <th scope="col" id="thursday" class="col-1"></th>
            <th scope="col" id="friday" class="col-1"></th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr class="d-flex" id="input-row0">
              <td><a name="" id="delete0" class="btn btn-danger" onclick=remove(this.id) href="#" role="button"><i class="fa fa-minus-square"></i></a></td>
        <td class="col-2">
                <select class="form-control" id="sel1">
                <option value="none" selected disabled hidden> 
                    Select a project 
                </option> 
            {% for project in projects %}
            <option value=" {{project.project_assigned}} ">{{project.project_assigned}} - {{project.name}}</option>
            {% endfor %}
            </select>
        </td>
            <td class="col-3">
                <input class="form-control" type="text" placeholder="Activity">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
            <td class="col-1">
                <input class="form-control" type="text" placeholder="Hours">
            </td>
          </tr>
          
        </tbody>
      </table>
</div>


<script src="{% static '/js/weeks.js' %}"></script>
<script src="{% static '/js/add_del_fields.js' %}"></script>

{% endblock %}