{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}


    <div class="container">
    <h2>Select Project</h2>
    
        <form action="" id="emp_form" onsubmit="return confirm('Are you sure you want to submit?')">
            <select name="project" class="form-control" id="project" >
                <option value="none" selected disabled>Select a project </option>
                {% for project in projects%}
                <option value="{{project.project_assigned}}"> {{project.project_assigned.name}} - {{project.project_assigned.project_id}} </option>
                {% endfor %}
            </select>
    <div id="selectEmployee" class = "p-3">
            <a href='#' class="btn btn-info" id='select-all'>select all</a>
            <a href='#' class="btn btn-info" id='deselect-all'>deselect all</a>
            <div class='row'>
                <div class='col-12 p-5'>
                    <select id='public-methods' multiple='multiple' name='employee'>
                    {% for employee in employees %}
                    <option value='{{ employee.employee_id}}' name='{{ employee.employee_id}}'> {{ employee.employee_id}} - {{ employee.name}} </option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" id="submitemp" class="btn btn-success">Submit</button>
        </form>
    </div>



    <script src="{% static '/js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script> 
        $('#public-methods').multiSelect();
        $('#select-all').click(function(){
            $('#public-methods').multiSelect('select_all');
                return false;
        });
        $('#deselect-all').click(function(){
            $('#public-methods').multiSelect('deselect_all');
                return false;
        });
        
    </script>    
    <script src="{% static '/js/selectemp.js' %}"></script>
    
{% endblock %}