{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/_navbar.html' %}

{% load static %}



<table id="myTable" class="table table-striped" >  
    <thead>  
      <tr>  
        <th>Employee ID</th>  
        <th>Name</th>  
        <th>Email</th>  
        <th>Department</th> 
        <th>Update</th>
        <th>View</th> 
      </tr>  
    </thead>  
    <tbody>
    {% for employee in employees %}
      <tr>  
        <td>{{employee.employee_id}}</td>  
        <td>{{employee.name}}</td>  
        <td>{{employee.email}}</td>  
        <td>{{employee.department_name}}</td>  
        <td><a name="" id="" class="btn btn-primary" href=" {%url 'update_employee' employee.employee_id%} " role="button">Update</a></td>
        <td><a name="" id="" class="btn btn-success" href="#" role="button">View</a></td>
      </tr> 
    {% endfor %}  
    </tbody>  
  </table>  
  </div>

<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>



{% endblock %}