{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}


<div class="pending">
    <h2>Pending Timesheets:</h2>
    <table id="pendingTable" class="table table-striped">  
        <thead>  
          <tr>  
            <th  class="text-center">Employee ID</th>  
            <th>Name</th>  
            <th>Week</th>
            <th>Year</th>  
            <th>Extended Hours</th> 
            <th>View and Approve Timesheet</th>
            <th>Approve</th>
            <th>Reject</th> 
          </tr>  
        </thead>  
        <tbody>
        {% for report in reports %}
          {% if report.approved == False %}
            <tr>
              <td class="text-center"> {{report.employee.employee_id}} </td>
              <td> <strong>{{report.employee.name}}</strong> </td>
              <td> {{report.week}} </td>
              <td> {{report.year}} </td>            
              <td> {{report.employee.department_name}} </td>
              <td> <a type="button" class="btn btn-primary" href=" {% url 'approveTS' report.employee.employee_id report.week report.year %} ">View and approve timesheet</a> </td>
              <td> <a type="button" class="btn btn-success" href=" {% url 'confirmTS' report.employee.employee_id report.week report.year %} ">Approve</a> </td>
              <td> <a type="button" class="btn btn-danger" href="{% url 'rejectTS' report.employee.employee_id report.week report.year %}">Reject</a> </td>        
            </tr>
          {% endif %} 
        {% endfor %}  
        </tbody>  
      </table>  
    
    
</div>

<div class="approved">

  <h2>Approved Timesheets:</h2>
    <table id="approvedTable" class="table table-striped">  
        <thead>  
          <tr>  
            <th  class="text-center">Employee ID</th>  
            <th>Name</th>  
            <th>Week</th>
            <th>Year</th>  
            <th>Department</th> 
            <th>View Timesheet</th>
            
          </tr>  
        </thead>  
        <tbody>
        {% for report in reports %}
          {% if report.approved == True %}
            <tr>
              <td class="text-center"> {{report.employee.employee_id}} </td>
              <td> <strong>{{report.employee.name}}</strong> </td>
              <td> {{report.week}} </td>
              <td> {{report.year}} </td>            
              <td> {{report.employee.department_name}} </td>
              <td> <a type="button" class="btn btn-primary" href=" {% url 'approveTS' report.employee.employee_id report.week report.year %} ">View timesheet</a> </td>       
            </tr> 
          {% endif %}
        {% endfor %}  
        </tbody>  
      </table> 

</div>




<script>
  $(document).ready(function(){
      $('#pendingTable').dataTable();
      $('#approvedTable').dataTable();
  });
</script>

{% endblock %}